body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.visually-hidden {
    display: none;
    margin: 0px;
    padding: 0px;
}

a {
  text-decoration: none;
}

.main-header {
    padding: 0px;
    margin: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-header-navigation {
    font-size: 14px;
    line-height: 26px;

    background-color: #ffffff;

    margin: 0px;
    padding: 0px;
    width: 1200px;

    align-items: center;

    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.main-header-navigation ul {
    flex-wrap: wrap;
}

.main-navigation-list-left {
    margin-left: 73px;
    padding: 0px;
    width: 328px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-navigation-list-left,
.main-navigation-list-right {
    list-style: none;
}

.main-navigation-list-right {
    margin-right: 73px;
    padding: 0px;
    width: 328px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-header-logo {
    margin-bottom: -25px;
    padding: 0px;

    align-self: stretch;
}

.main-navigation-list-left a:hover,
.main-navigation-list-left a:focus,
.main-navigation-list-right a:hover,
.main-navigation-list-right a:focus {
    color: #81b3d2;
}

.main-navigation-list-left a:active,
.main-navigation-list-right a:active {
    color: #b2b2b2;
}

.main-navigation-item a {
    color: #000000;
}

.main-navigation-item-current a {
    color: #9b8d84;
}

.main-intro {
    background-color: #89b2d0;
    background-image: url("../img/background-photo.jpg");
    background-position: center;
    background-repeat: no-repeat;

    text-align: center;

    margin-top: -56px;
    padding-top: 132px;
    padding-bottom: 282px;
    width: 1200px;
}

.intro-mask {
    margin-top: -267px;
    margin-bottom: 0px;
    padding-top: 57px;
    width: 1200px;

    background-image: url(../img/intro-mask.svg);
    background-position: top;
    background-repeat: no-repeat;
}

.main-content {
        display: flex;
        flex-direction: column;
        align-items: center;
}

.main-label {
    text-align: center;
    color: #000000;
    font-size: 21px;
    line-height: 26px;

    background-color: #ffffff;

    padding-top: 60px;
    margin: 0px;
    width: 1200px;
}

.features-intro {
    text-align: center;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;

    background-color: #ffffff;

    padding-top: 28px;
    padding-bottom: 59px;
    margin: 0px;
    width: 1200px;
}

.main-features {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-align: center;

    background-color: #ffffff;

    margin: 0px;
    padding: 0px;
    width: 1200px;
}

.main-features h3{
    font-size: 21px;
    font-weight: 700;
}

.main-features-list {
    margin: 0px;
    margin-top: -10px;
    padding: 0px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.main-features ul{
    list-style: none;
}

.features-text-wrapper {
    width: 310px;
    margin: 43px 45px;
}

.features-text-wrapper h3 {
    width: 155px;
    margin: 0px;
    margin-left: 78px;
}

.features-text-wrapper p {
    width: 301px;
    margin: 0px;
    margin-left: 10px;
}

.main-features-item {
    background-color: #eeeeee;

    position: relative;
}

.main-features-item:nth-child(1),
.main-features-item:nth-child(2) {
    color: #ffffff;
    background-color: #81b3d2;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.features-numbers::before {
    content: "";
    position: absolute;
    left: 174px;
    top: 115px;

    width: 9px;
    height: 1px;
    background-color: #ffffff;

}

.features-numbers::after {
    content: "";
    position: absolute;
    left: 215px;
    top: 115px;

    width: 9px;
    height: 1px;
    background-color: #ffffff;

}

.sub-features {
    margin: 0px;
    padding: 0px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-features-item {
    width: 400px;
    padding: 100px 0px;
    padding-bottom: 73px;
}

.sub-features-item h3 {
    padding-top: 39px;
}

.sub-features-item p {
    width: 294px;
    margin-left: 55px;
    padding-top: 3px;
}

.sub-features li:nth-child(1) {
    color: #000000;
    background-color: #ffffff;

    position: relative;
}

.sub-features li:nth-child(1) h3::before {
    position: absolute;
    content: "";
    top: 57px;
    left: 160px;

    width: 75px;
    height: 75px;

    background-image: url(../img/icon-1.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.sub-features li:nth-child(2) {
    color: #000000;
    background-color: #ffffff;

    position: relative;
}

.sub-features li:nth-child(2) h3::before {
    position: absolute;
    content: "";
    top: 57px;
    left: 160px;

    width: 75px;
    height: 75px;

    background-image: url(../img/icon-3.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.sub-features li:nth-child(3) {
    color: #000000;
    background-color: #ffffff;

    position: relative;
}

.sub-features li:nth-child(3) h3::before {
    position: absolute;
    content: "";
    top: 57px;
    left: 160px;

    width: 75px;
    height: 75px;

    background-image: url(../img/icon-2.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.main-search {
    background-color: #ffffff;
    text-align: center;

    padding: 0px;
    margin: 0px;
    width: 1200px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-search h3 {
    color: #000000;
    font-size: 30px;
    line-height: 36px;
}

.main-search p {
    color: #000000;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;

    margin-bottom: 54px;
    margin-top: 0px;
    padding: 0px;
}

.btn-search-modal {
    font-size: 21px;
    line-height: 26px;
    color: #ffffff;

    background-color: #766357;

    padding: 34px 140px;
    /* padding-left: 140px;
    padding-right: 140px; */
}

.btn-search-modal:hover,
.btn-search-modal:focus {
    background-color: #604e43;
}

.btn-search-modal:active {
    color: rgba(255,255,255,0.3);

    background-color: #503e33;
}

@keyframes smooth-appearance {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 0.3;
    }

    50% {
        opacity: 0.5;
    }

    70% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}

.modal-search-hotels {
    font-size: 14px;
    line-height: 26px;
    text-align: center;

    background-color: #ffffff;

    margin-bottom: -472px;
    padding: 54px 56px;

    display: none;
    flex-direction: column;
    align-items: center;

    z-index: 4;

    animation: smooth-appearance 0.3s;
}

.modal-show {
    display: flex;

    animation: smooth-appearance 0.3s;
}

.search-hotels-form input[type="text"] {
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;

    background-color: #f2f2f2;
    border: none;

    padding-top: 19px;
}

.search-hotels-form input[type="text"]:hover {
    background-color: #ebebeb;
}

.search-hotels-form input[type="text"]:focus {
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
}

.peoples input[type="text"],
.childrens input[type="text"] {
    font-weight: 700;
    text-align: center;
}

.search-button input[type="submit"] {
    font-size: 21px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;

    background-color: #81b3d2;
    border: none;

    padding: 17px 196px;
    /* padding-top: 15px;
    padding-bottom: 15px; */
    margin-top: 27px;
    margin-bottom: 28px;
}

.search-button input[type="submit"]:hover,
.search-button input[type="submit"]:focus {
    background-color: #669ec0;
}

.search-button input[type="submit"]:active {
    background-color: #5496bd;
}

.date-out button {
    padding: 20px;
    margin: 0px;
    background-image: url(../img/calendar.svg);
    background-color: #f2f2f2;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

.date-in button {
    padding: 20px;
    margin: 0px;
    background-image: url(../img/calendar.svg);
    background-color: #f2f2f2;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

.btn-plus {
    padding: 20px;
    margin: 0px;
    background-image: url(../img/plus.png);
    background-color: #f2f2f2;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

.btn-minus {
    padding: 20px;
    margin: 0px;
    background-image: url(../img/minus.png);
    background-color: #f2f2f2;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

.peoples,
.childrens {
    display: inline-block;
}

.peoples label,
.childrens label {
    padding-right: 20px;
}

.childrens label {
    padding-left: 40px;
}

.peoples input[type="text"],
.childrens input[type="text"] {
    width: 38px;
}

.main-map {
    margin: 0px;
    padding: 0px;
}

.main-map-frame {
    border: none;
}

/* Стилизация страницы кталога */

.main-filters {
    color: #ffffff;
    font-size: 16px;
    line-height: 21px;

    background-image: url(../img/filter-background.jpg);
    background-repeat: no-repeat;
    background-position: center;

    width: 1200px;
}

.main-filters-form {
    display: flex;
    justify-content: space-between;
}

.main-filters-form fieldset {
    border: none;

    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

.main-filters-form legend {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;

    margin-left: 70px;
    margin-bottom: 28px;
}

.filter-infrastructure {
    display: flex;

    margin-top: 31px;
    margin-right: -250px;
}

.filter-house-type {
    display: flex;

    margin-top: 31px;
}

.filter-option {
    cursor: pointer;
    position: relative;

    margin-left: 110px;
    padding-bottom: 34px;
}

.filter-option input[type="checkbox"] + .checkbox-indicator {
    position: absolute;
    top: 0px;
    left: -40px;

    width: 23px;
    height: 23px;

    background-image: url(../img/checkbox-off.svg);
    background-repeat: no-repeat;
}

.filter-option input[type="checkbox"]:checked + .checkbox-indicator {
    position: absolute;
    top: 0px;
    left: -40px;

    width: 27px;
    height: 23px;

    background-image: url(../img/checkbox-on.svg);
    background-repeat: no-repeat;
}

.filters-set {
    font-size: 14px;
    list-style: none;
}

/* Фильтр */

.filter-price {
  width: 330px;
  margin-right: 72px;
  margin-top: 30px;
  margin-bottom: 32px;

  color: #ffffff;
  text-transform: uppercase;
}

.filter-price legend {
  margin-bottom: 9px;
  margin-left: 0px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.filter-price input[type="submit"] {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}
.filter-price input[type="submit"]:hover {
  color: #000000;

  background: #ffffff;
}

.main-catalog-sorting {
    background-color: #ffffff;

    width: 1200px;
    padding: 0px;
    margin: 0px;

    display: flex;
}

.main-catalog-sorting p {
    font-size: 21px;
    line-height: 26px;

    margin: 38px 72px;
    padding: 0px;
}

.main-catalog-sorting h3 {
    font-size: 12px;
    line-height: 18px;

    margin: 45px 0px;
    padding: 0px;
}

.main-catalog-sorting ul {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;

    list-style: none;

    margin: 45px 0px;
    padding: 0px;
    display: flex;
}

.main-catalog-sorting li {
    margin: 0px 32px 0px 32px;
    padding: 0px;
}

.main-catalog-sorting a {
    color: #cacaca;
    border-bottom: 1px dotted #81b3d2;
}

.sorting-btn {
    margin: 41px 0px;
    padding: 0px;
}

.sorting-options li:nth-child(4) {
    margin-left: 400px;
}

.sorting-options li:nth-child(5) {
    margin-left: -20px;
}


.main-catalog {
    background-color: #ffffff;

    width: 1200px;
    padding: 0px;
    margin: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-catalog-list {
    list-style: none;

    width: 1200px;
    margin: 0px;
    padding: 0px;

    display: flex;
    flex-direction: column;
}

.main-catalog-list a{
    color: #000000;
}

.main-catalog-item h3 {
    font-size: 21px;
    line-height: 26px;
}

.main-catalog-item {
    border-top: 1px solid #f2f2f2;

    display: flex;
    flex-direction: row;

    padding: 30px 72px 30px 72px;
}

.hotel-photo {
    padding: 0px;
    margin: 0px;
}

.hotel-name-columns {
    margin-left: 30px;
}

.hotel-name:hover,
.hotel-name:focus {
    font-size: 21px;
    line-height: 26px;
    color: #81b3d2;
}

.hotel-name:active {
    font-size: 21px;
    line-height: 21px;
    color: #cacaca;
}

.hotel-info {
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    font-weight: 400;

    margin-top: -17px;
}

.hotel-stars {
    list-style: none;

    display: flex;
    flex-direction: row;
}

.hotel-buttons .button-more {
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;

    padding: 4px 14px;

    background-color: #81b3d2;
}

.hotel-buttons .button-set {
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;

    padding: 4px 18px;
    margin-left: 3px;

    background-color: #766357;
}

.hotel-buttons .button-set:hover,
.hotel-buttons .button-set:focus {
    background-color: #604e43;
}

.hotel-buttons .button-set:active {
    color: rgba(255,255,255,0.3);

    background-color: #5496bd;
}

.hotel-buttons .button-more:hover,
.hotel-buttons .button-more:focus {
    background-color: #669ec0;
}

.hotel-buttons .button-more:active {
    color: rgba(255,255,255,0.3);

    background-color: #5496bd;503e33
}

.hotel-rating-columns {
    margin-left: 522px;
    padding: 0px;
}

.hotel-rating {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #666666;

    padding: 4px 14px;
    margin-top: 35px;

    background-color: #f2f2f2
}

/* Подвал */

.main-footer {
    /* background-color: #ffffff; */

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: -9px;
    padding: 0px;
}

.footer-wrapper {
    background-color: rgba(255, 255, 255, 0.9);

    width: 1200px;
    margin: 0px;
    padding: 0px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.hash-tag {
    font-size: 21px;
    line-height: 26px;
    color: #000000;

    width: 136px;
    margin-left: 133px;
}

.footer-social-list {
    list-style: none;

    display: flex;
    width: 151px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 37px 0px 37px 0px;
}

.social-button {
    width: 46px;
    height: 46px;

    background-color: #81b3d2;

    display: flex;
    align-items: center;
    justify-content: center;
}

.social-button:hover,
.social-button:focus {
    background-color: #669ec0;
}

.social-button:active {
    background-color: #5496bd;
}

.producer {
    color: #000000;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;

    margin-right: 101px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
