body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.visually-hidden {
    display: none;
    margin: 0px;
    padding: 0px;
}

a {
  text-decoration: none;
}

.main-header {
    /* background-color: #f2f2f2;
    background-image: url("../img/background-photo.jpg");
    background-position: center;
    background-repeat: no-repeat; */
}

.main-header-navigation {
    font-size: 14px;
    line-height: 26px;
    color: #000000;

    background-color: #ffffff;
}

.main-navigation-list-left,
.main-navigation-list-right {
    list-style: none;
}

.main-navigation-list-left a,
.main-navigation-list-right a {
    color: #000000;
}

.main-navigation-list-left a:hover,
.main-navigation-list-left a:focus,
.main-navigation-list-right a:hover,
.main-navigation-list-right a:focus {
    color: #81b3d2;
}

.main-navigation-list-left a:active,
.main-navigation-list-right a:active {
    color: #b2b2b2;
}

.main-intro {
    background-color: #89b2d0;
    background-image: url("../img/background-photo.jpg");
    background-position: center;
    background-repeat: no-repeat;

    text-align: center;
}

.main-label {
    text-align: center;
    color: #000000;
    font-size: 21px;
    line-height: 26px;

    background-color: #ffffff;
}

.main-search {
    background-color: #ffffff;
    text-align: center;
}

.main-search h3 {
    color: #000000;
    font-size: 30px;
    line-height: 36px;
}

.main-search p {
    color: #000000;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

.btn-search-modal {
    font-size: 21px;
    line-height: 26px;
    color: #ffffff;

    background-color: #766357;

    width: 576px;
    padding-top: 35px;
    padding-bottom: 36px;
    /* padding-left: 140px;
    padding-right: 140px; */
}

.btn-search-modal:hover,
.btn-search-modal:focus {
    background-color: #604e43;
}

.btn-search-modal:active {
    color: rgba(255,255,255,0.3);

    background-color: #503e33;
}

.modal-search-hotels {
    font-size: 14px;
    line-height: 26px;

    background-color: #ffffff;
}

.search-hotels-form input[type="text"] {
    background-color: #f2f2f2;
    border: none;
    width: 317px;
}

.search-hotels-form input[type="text"]:hover {
    background-color: #ebebeb;
}

.search-hotels-form input[type="text"]:focus {
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
}

.search-button input[type="submit"] {
    font-size: 21px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;

    background-color: #81b3d2;
    border: none;
}

.search-button input[type="submit"]:hover,
.search-button input[type="submit"]:focus {
    background-color: #669ec0;
}

.search-button input[type="submit"]:active {
    background-color: #5496bd;
}

/* Стилизация страницы кталога */

.main-catalog {
    background-color: #ffffff;
}

.main-catalog-list {
    list-style: none;
}

.main-catalog-list a{
    color: #000000;
}

.main-catalog-item h3 {
    font-size: 21px;
    line-height: 26px;
}

.hotel-name:hover,
.hotel-name:focus {
    font-size: 21px;
    line-height: 26px;
    color: #81b3d2;
}

.hotel-name:active {
    font-size: 21px;
    line-height: 26px;
    color: #cacaca;
}

.hotel-info {
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    font-weight: 400;
}

.hotel-stars {
    list-style: none;
}

.hotel-buttons .button-more {
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;

    background-color: #81b3d2;
}

.hotel-buttons .button-set {
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;

    background-color: #766357;
}

.hotel-buttons .button-set:hover,
.hotel-buttons .button-set:focus {
    background-color: #604e43;
}

.hotel-buttons .button-set:active {
    color: rgba(255,255,255,0.3);

    background-color: #5496bd;
}

.hotel-buttons .button-more:hover,
.hotel-buttons .button-more:focus {
    background-color: #669ec0;
}

.hotel-buttons .button-more:active {
    color: rgba(255,255,255,0.3);

    background-color: #5496bd;503e33
}

.hotel-rating {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #666666;

    background-color: #f2f2f2
}

/* Конец стилизации страницы каталога */

.main-footer {
    /* background-color: #ffffff; */
}

.footer-wrapper {
    background-color: #ffffff;
}

.hash-tag {
    font-size: 21px;
    line-height: 26px;
    color: #000000;
}

.footer-social-list {
    text-align: center;

    list-style: none;
}

.social-button {
    color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
    color: #669ec0;
}

.social-button:active {
    color: #5496bd;
}

.producer {
    color: #000000;
    font-size: 14px;
    line-height: 26px;
}

/* Создание сетки */

.main-content {
        display: flex;
        flex-direction: column;
        align-items: center;
}

.main-header {
    padding: 0px;
    margin: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-header-navigation {
    margin: 0px;
    width: 1200px;
    padding-top: -28px;
    height: 57px;

    align-items: center;

    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.main-navigation-list-left {
    margin-left: 73px;
    padding: 0px;
    width: 328px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-header-logo {
    margin-top: 22px;
    padding: 0px;

    z-index: 2;
}

.main-navigation-list-right {
    margin-right: 73px;
    padding: 0px;
    width: 328px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-intro {
    margin-top: -56px;
    padding-top: 132px;
    padding-bottom: 282px;
    width: 1200px;
}

.intro-mask {
    margin-top: -267px;
    margin-bottom: 0px;
    padding-top: 57px;
    width: 1200px;

    background-image: url(../img/intro-mask.svg);
    background-position: top;
    background-repeat: no-repeat;
}

.main-label {
    padding-top: 65px;
    margin: 0px;
    width: 1200px;
}

.main-search {
    padding: 0px;
    margin: 0px;
    width: 1200px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-search-hotels {
    width: 576px;
    /* padding: 55px; */

    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-map {
    margin: 0px;
    padding: 0px;
}

.main-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-wrapper {
    width: 1200px;
    margin: 0px;
    padding: 0px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.hash-tag {
    width: 136px;
    margin-left: 133px;
}

.producer {
    margin-right: 101px;

    display: flex;
    flex-direction: row;
}

/* Подсветка блоков */

.main-header {
    outline: 2px solid #e80c4e;
}

.main-header-navigation {
    outline: 2px solid #3c78ff;
}

.main-navigation-list-left {
    outline: 2px solid #9ff2a4;
}

.main-header-logo {
    outline: 2px solid #e3ff34;
}

.main-navigation-list-right {
    outline: 2px solid #9ff2a4;
}

.main-intro {
    outline: 2px solid #ffba44;
}
.main-label {
    outline: 2px solid #45f452;
}

.main-search {
    outline: 2px solid #e40eff;
}

.modal-search-hotels {
    outline: 2px solid #df7276;
}

.intro-mask {
    outline: 2px solid #20c7f6;
}
